h1{
  color: #f0f3;
  border-radius: 6px;
  background-color: yellowgreen;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
}

button{
  border:none;
  margin-right: 10px;
  width: 200px;
  color: white;
  font-size: medium;
  font-weight: 700;
  background-color: brown;
  padding: 10px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}